html {
    font-size: 62.5%;
} 


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 48%;
        margin: 15px;
        padding: 15px; 
    }

    main {
        margin: 0%;
        padding: 0%;
        width: 250px;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    html { 
        font-size: 70%;
    }
}


body {
    background-color: #0000ff;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 25px;
    padding: 0.8rem;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 15px #757575;
    border-radius: 10px;
    transition: 1s;    
}

#items {
    display: flex;
    flex-flow: row;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
}

#items > section {
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    max-width: 250px;
    margin: auto;
    margin-bottom: 25px;
    margin-right: 5px;
    padding: 0.8rem;
    background-color: #fff;
    box-shadow: 0.5px 0.5px 15px #757575;
    border-radius: 10px;
    transition: 1s;    
}

#items > section:hover {
    border-color: #414141;
    border-style: solid;
    border-width: 3px;
    box-shadow: 4px 4px 20px #505050;
    transition: 1s;
}

a {
    text-decoration: none;
    color: #dc143c;
}

a:hover {
    color: #a52a2a;
}

footer > fieldset {
    border-style: groove;
    border-color: #0000a5;
    color: #000024;
    width: fit-content;
}

input {
    border-radius: 4px;
    border-color: #000000;
    border-style: solid;
    width: 100px;
    height: 20px;
    font-size: 0.6em;
    transition: 0.5s;
}

input:hover {
    background-color: #dfdfdf;
    font-style: italic;
    transition: 0.5s;
}

input[type=submit] {
    background-color: #00009e;
    color: #ffffff;
    border-style: none;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 5px;
    transition: 0.5s;
}

input[type=submit]:hover {
    transition: 0.5s;
    background-color: #ffffff;
    border-style: dashed;
    border-color: #00009e;
    color: #00009e;
}